body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: rgb(251, 255, 0);
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    background: rgb(0, 0, 0);
}

.topWrapper {
    display: grid;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    grid-template-columns: 45%;
}

div {
    font-size: 100%;
    white-space: pre-wrap;
    /* display: inline-block; */
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.wrapper {
    display: grid;
    text-align: center;
    white-space: nowrap;
    grid-template-columns: 15% 15% 15%;
    margin: 0 auto;
}

.teamHL {
    background: yellow;
    color: black;
    display: inline-block;
}

.blinking {
    background-color: black;
    color: yellow;
    animation: blinkingText infinite;
    animation-duration: .8s;
}

@keyframes blinkingText {
    from {
        background-color: yellow;
        color: black;
    }
    to {
        background-color: black;
        color: yellow;
    }
}