body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: yellow;
    background: rgb(0, 0, 0);
}


div{
    font-size: 150%;
    font-family: monospace;
    white-space: pre-wrap;
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
}
.mainLines {
    display: inline-block;
}

.teamHL {
    background: yellow;
    color: black;
    display: inline-block;
}

.blinking{
    background-color: black;
    color: yellow;
    animation: blinkingText infinite;
    animation-duration: 1s;
    display: inline-block;
}
@keyframes blinkingText{
    from {background-color: yellow;
        color: black;}
    to {background-color: black;
        color: yellow;}
}