h1 {
    padding: 0px;
    margin: 0px;
    font-size: 75%;
    font-weight: lighter;
    color: white;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: yellow;
    background: rgb(0, 0, 0);
}

div {
    display: block;
    font-size: 100%;
    color: white;
    margin: 25px;
}
.divHL {
    font-size: 200%;
    padding: 2px;
    margin: px;
    background: red;
    color: white;}

.line1 {
    background: lime;
    align-items: center;
}

.line2 {
    align-items: normal;
}




footer { background-color:black;
}


.highlightme { background-color:yellow;
        color: black;
        font-size: smaller;
        font-weight: bold;
}


