h1 {
    padding: 0px;
    margin: 0px;
    font-size: 75%;
    font-weight: lighter;
    color: white;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: yellow;
    background: rgb(0, 0, 0);
}

div {
    display: block;
    font-size: 100%;
    color: white;
    margin: 50px;
}
    .divHL {
    padding: 25px;
    margin: 5px;
    background: red;
    font-size: 100%;
    color: white;}






footer { background-color:black;
}


.highlightme { background-color:yellow;
        color: black;
        font-size: smaller;
        font-weight: bold;
}


